<div class="page_title">
  Appointments Page
</div>

<!-- ADD APPOINTMENT BUTTON --> 
<div class="appt_btn_wrapper">
	<a href="appointments/new">Add Appointment
  </a>
</div>

<!--The displayed list of appointments-->
<div class="appt_list">
	Your Appointments:
	<table>
            <tr id="column-headers">
               <th>Doctor Name </th>
               <th> Appointment Time</th>
               <th> Location</th>
               <th> Doctor Phone Number</th>
               <th> Notes</th>
            </tr>

            <tr>
               <td>{{doctor_name}}</td>
               <td>{{appointment_time}}</td>
               <td>{{location}}</td>
               <td>{{doctor_phone_number}}</td>
               <td>{{note}}</td>
            </tr>
    </table>
</div>

