<div class="page_title">
  Appointments Page
</div>

<!-- ADD APPOINTMENT BUTTON -->
<div class="appt_btn_wrapper">
	<div>Add Appointment</div>
</div>

<!--The displayed list of appointments-->
<div class="appt_list">
	Your Appointments:
	<table>
            <tr id="column-headers">
               <th class="name" ng-click="onNameClick()">Place</th>
               <th>Date</th>
               <th>Time</th>
            </tr>

            <tr id="state-list" ng-repeat="state in newArray">
               <td>{{state.name}}</td>
               <td>{{state.abbreviation}}</td>
               <td>{{state.name}}</td>
            </tr>
    </table>
</div>

