
<!-- V HEADER V -->
<header class="clinic_header">

	<!-- v BACK BUTTON v -->
	<div class="back_wrapper">
		<img class"back_btn">
	</div>

	<!-- v LOGO v -->
	<div class="logo_wrapper">
		<img class="logo_img">
		<div class="logo_text">yo</div>
	</div>
	
	<!-- V BUTTONS TO BE PLACED IN HAMBURGER MENU V -->
	<div class="home_btn"></div>
	<div class="sign_out"></div>

</header>


<!-- ======================== -->


<!-- V MAIN CONTENT V -->
<div class="map_wrapper">

	<!-- V MAP V -->
	<iframe class="map" src="https://www.google.com/maps/embed?..."></iframe>
</div>


<!-- ======================== -->


