

   <h3 class="disclaimer">
     If this is an emergency call 911.
   </h3>
<!--V USER PROMPT V-->
   <h2 class="user_prompt">
     Hi {{user}}!  Click the "Find a Clinic" button to map the nearest clinic, or click "My Appointments" to create an appointment.
   </h2>


   <!-- V BUTTONS V -->
   <div class="home_btns_wrapper">
        <!-- V FIND CLINIC BTN V -->
  			<a href="#" ui-sref="clinicmap" >
  				<div class="find_clinic_btn" >Find a Clinic
  				</div>
  			</a>
        <!-- V APPOINTMENTS BTN V -->
			  <a href="#" ui-sref="appointments" >
				  <div class="appt_btn">My Appointments.
				  </div>
			  </a>

	</div>


<!--
  <a href="clinicmaps.html"><div class="find_clinic_btn">Find a Clinic
  </div></a> -->


