<header class="home_header">

    <!-- v BACK BUTTON v -->
    <div class="back_wrapper">
    </div>

    <!-- v LOGO v -->
    <div class="logo_wrapper">
      <img class="logo_img">
      <div class="logo_text"></div>
    </div>

</header>

<!--============================-->

<!--V 911 DISCLAIMER V-->
<h3 class="disclaimer">
  If this is an emergency call 911
</h3>


<!--============================-->

<!--V USER PROMPT V-->
<h2>
  Hi user!  What would you like to do?
</h2>

<!--============================-->

<!--V HOME PAGE BUTTONS V-->
<div class="home_btns_wrapper">

  <a href="clinicmap.html"><div class="find_clinic_btn">Find a Clinic
  </div></a>

  <a href="appointments.html"><div class="appt_btn">My Appointments
</div></a>
