<div ng-app="app" id="body_wrapper">

	<header>
		<!-- V LOGO V --> 
		<div class="left_header"
			<%= image_tag "logo_img.png", class: "logo" %>
			<h2 class="logo_text">Clinic Find</h2>
		</div>
		<!-- V HOME BUTTON & SIGN-OUT SOON V -->
		<div class="right_header">
			<a ui-sref="home">
			<!-- v why was home appt_btn? v -->
			<div class="home_btn">Home
			</div>
			</a>
		</div>
	</header>

	<div ui-view>

	<!-- V IRON YARD PROJECT V -->
	<!-- </div class="iron_yard_proj">
		<%= image_tag "theironyard.png", class: "iy_logo" %>
		<h4>An Iron Yard Academy Project</h4>
	</div>
 -->

