<div ng-app="app" id="body_wrapper">
	<header>
		<img class="logo_img">
		<h2 class="logo_text">Clinic Find</h2>
	</header>

	<div ui-view>

	</div>

	<footer >
		<a ui-sref="home" >
			<div class="appt_btn">Home
			</div>
		</a>
	</footer>
</div>


