<div ng-app="app" id="body_wrapper">
	<header>
		<img class="logo_img">
		<h2 class="logo_text">Clinic Find</h2>
		<a ui-sref="home" >
			<div class="appt_btn">Home
			</div>
		</a>
	</header>

	<div ui-view>

	</div>
	<img class="iy_logo">
	<h4>Brought to you by The Iron Yard</h4>
</div>


