<div ng-app="app" id="body_wrapper">

	<header>
		<!-- V LOGO V --> 
		<%= image_tag "logo_img.png", class: "logo" %>
		<h2 class="logo_text">Clinic Find</h2>

		<!-- V HOME BUTTON & SIGN-OUT SOON V -->
		<div class="right_header_btns">
			<a ui-sref="home">
			<!-- v why was home appt_btn? v -->
			<div class="appt_btn">Home
			</div>
			<!-- v replace w signout btn v -->
			<div class="signout_btn">Signout</div>
			</a>
		</div>
	</header>

	<div ui-view>

	<!-- V IRON YARD COPYRIGHT V -->
	</div>
		<%= image_tag "theironyard.png", class: "iy_logo" %>
		<h4>An Iron Yard Academy Project</h4>
	</div>


