<div ng-app="app" id="body_wrapper">
	<header>
		<img class="logo_img">
		<h2 class="logo_text">Clinic Find</h2>
		<a ui-sref="home" >
			<div class="appt_btn">Home
			</div>
		</a>
	</header>

	<div ui-view>
   			<h3 class="disclaimer">
     		If this is an emergency call 911.
   			</h3>
<!--V USER PROMPT V-->
   			<h2 class="user_prompt">
     		Hi {{user}}!  Click the "Find a Clinic" button to map the nearest clinic, or click "My Appointments" to create an appointment.
   			</h2>
   
   			<div class="home_btns_wrapper">
  				<a href="#" ui-sref="clinicmap" >
  					<div class="find_clinic_btn" >Find a Clinic
  					</div>
  				</a>
				<a href="#" ui-sref="appointments" >
					<div class="appt_btn">My Appointments.
					</div>
				</a>
			</div>

	</div>
	<img class="iy_logo">
	<h4>Brought to you by The Iron Yard</h4>
</div>


