<div ng-app="app" id="body_wrapper">
	
	<header>
		<!-- V LOGO V -->
		<img class="logo_img">
		<h2 class="logo_text">Clinic Find</h2>

		<!-- V HOME BUTTON & SIGN-OUT SOON V -->
		<a ui-sref="home" >
		<div class="appt_btn">Home
		</div>
		</a>
	</header>

	<div ui-view>

	<!-- V IRON YARD COPYRIGHT V -->
	</div>
		<img class="iy_logo" src="theironyard.png">
		<h4>An Iron Yard Academy Project</h4>
	</div>


