// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'reset';

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* 700 600 400 */
body {
  font-family: 'Open Sans', sans-serif;
  vertical-align: top; }

.home_header{
	width: 200px;
	height: 200px;
	border: 1px solid red;
}

.logo_text{
	width: 200px;
	height: 200px;
	border: 1px solid red;

}


