// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'reset';

html {
  box-sizing: border-box;}

*, *:before, *:after {
  box-sizing: inherit; }

/* 700 600 400 */ 
body {
  font-family: 'Open Sans', sans-serif;
  vertical-align: top; }


header{
	display: inline-block;
	border: 1px solid red;
	// V LOGO V
	.logo_img{
		float: left;
		border: 1px solid blue;
	}
	h2{
		float: left;
		border: 1px solid orange;
	}

	// V HOME BUTTON $ SIGN-OUT SOON V
	.right_header_btns{
		float: right;
		border: 1px solid blue;
		.appt_btn{
			float: left;
		}
		.signout_btn{
			float: left;
		}
	}


}



